body{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

a{ /* Aplicando estilos a todos los elementos a */
    text-decoration: none; /* Elimina el subrayado de los links */
    cursor: pointer; /* Al posicionar el puntero sobre el elemento cambia a una mano */
}
header{
    width: 100%;
    height: 60px;
}
header nav{
    display: flex;
    justify-content: flex-end;
}
header nav{
    display: flex;
    justify-content: flex-end;
}
header nav .nav-right-section {
    width: 250px;
    height: auto;
    display: flex;
    list-style: none; /* Elimina las viñetas de la lista */
    justify-content: center;
    align-items: center;
}
nav .nav-right-section a {
    margin-right: 10px;
    color: black;
}
nav .nav-right-section .menu-icon{
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; /* Toma el tamaño del contenedor */
    width: 30px;
    height: 30px;
}
nav .nav-right-section img{
    border-radius: 50%;
    margin-left: 10px;
}