body{/* Se resetean los margenes y pading del proyecto */
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

a{ /* Aplicando estilos a todos los elementos a */
    text-decoration: none; /* Elimina el subrayado de los links */
    cursor: pointer; /* Al posicionar el puntero sobre el elemento cambia a una mano */
}
header{ /* Al header se le aplica un ancho del 100% de la ventana y una altura de 60px */
    width: 100%;
    height: 60px;
}
header nav{ /* Se alinea el menu de navegacion a la derecha */
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section { /* Aplicando etilos a la lista desordenada */
    width: 250px;
    height: auto;
    display: flex;
    list-style: none; /* Elimina las viñetas de la lista */
    justify-content: center; /* Se centra verticalmente */
    align-items: center; /* Se centra horizontalmente */
}
nav .nav-right-section a { /* Se le da un margen de separacion a cada link, como tambien un color negro a las letras */
    margin-right: 10px;
    color: black;
}
nav .nav-right-section .menu-icon{ /* Se agrega la imagen de menu */
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; /* Toma el tamaño del contenedor */
    width: 30px;
    height: 30px;
}
nav .nav-right-section img{ /* A la imagen de perfil se le da un borde redondeado y un margen a la izquierda */
    border-radius: 50%;
    margin-left: 10px;
}

main{
    margin-top: 150px;
    text-align: center; /* Centra horizontalmente todo lo que esta dentro de la etiqueta main */
}

main .main-logo{
    width: 530px;
    margin: 0 auto; /* Se indica que el margin arriba-abajo sea de 0 y de derecha e izquierda sea el mismo para cada lado */
    margin-bottom: 35px;
}
main .main-logo img{
    width: 272px;
    height: 92px;
}

main .main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input-container{
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex; /* Para poder alinear el contenido uno al lado del otro */
    justify-content: center;
    align-items: center;
}
main .main-input input{
    width: 450px;
    height: 40px;
    border: none; /* Elimina el borde */
    outline: none; /* Elimina el borde cuando el input esta activo */
    
}

main .main-input-container:hover{
    box-shadow: 0 1px 6px 0 #20212447;
    border-color: #dfe1e500;
}

main .main-input .search-icon{
    background-image: url('https://img.icons8.com/android/24/000000/search.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    opacity: 0.5;
    margin-right: 10px;
}

main .main-input .micro-icon{
    background-image: url('https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}

main .main-buttons {
    width: 530px;
    margin: 0 auto;
}
main .main-buttons div{
    display: inline-block;
}
main .main-buttons button{
    height: 36px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    font-size: 14px;
    color: #3c4043;
    border-radius: 4px;
    padding: 0 16px;
    cursor: pointer;
}
main .main-buttons button:hover{
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #202124;
    background-color: #f8f9fa;
}

footer{
    width: 100%;
    height: 50px;
    position: absolute; /* Con esto le decimos que se quede */
    bottom: 0; /* hasta abajo */
    display: grid;
    grid-template-columns: 1fr 1fr; /* El template de las columnas del grid y este se divide en 2 fracciones*/
    align-items: center;
    font-size: 13px;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}
footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0;
}
footer .footer-left{
    justify-self: left;
}

footer .footer-right{
    justify-self: right;
}

footer ul li a {
    margin: 10px;
    color: #5f6368;
}